@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<h2>What Is It and How Does it Work?</h2>

<p>SyllabusZip was built on the premise that students shouldn't have to be organizational geniuses in order to succeed at school. That's why we built an algorithm.</p>
<p>Upload your syllabus files or connect an LMS account like Blackboard or Moodle and our algorithm will extract all the necessary pieces and organize them into a website for you</p>
<p>Get notified about assignments and exams so you can plan ahead and not be surprised.</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/LyrVfUWcYG4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>